### 5. You have been given a dataset demo.csv having independent features as x1, x2, x3, x4, x5, x6, x7 and dependent feature as y with value either 0 or 1. All independent features are continuous data except x1 and x2, which are having nominal data. Now write python program for the following:

In [1]:
import pandas as pd
import numpy as np

In [17]:
x1_labels = ['Laptop', 'Mobile', 'Camera', 'Keyboard', 'Mouse']
x2_labels = ['Green', 'Blue', 'Black', 'Orange', 'Pink']

In [21]:
x1 = np.random.choice(x1_labels, (1, 10000))
x1

array([['Mouse', 'Mobile', 'Mouse', ..., 'Keyboard', 'Mobile', 'Camera']],
      dtype='<U8')

In [22]:
x2 = np.random.choice(x2_labels, (1, 10000))
x2

array([['Orange', 'Pink', 'Black', ..., 'Pink', 'Green', 'Black']],
      dtype='<U6')

In [24]:
x3 = np.random.rand(1, 10000)
x4 = np.random.rand(1, 10000)
x5 = np.random.rand(1, 10000)
x6 = np.random.rand(1, 10000)
x7 = np.random.rand(1, 10000)

In [25]:
y = np.random.randint(0, 2, (1, 10000))

In [35]:
x1_flat = x1.flatten() 
x2_flat = x2.flatten() 
x3_flat = x3.flatten() 
x4_flat = x4.flatten() 
x5_flat = x5.flatten() 
x6_flat = x6.flatten() 
x7_flat = x7.flatten() 
y_flat = y.flatten()

In [37]:
df = pd.DataFrame({ 
    'x1': x1_flat, 
    'x2': x2_flat, 
    'x3': x3_flat, 
    'x4': x4_flat, 
    'x5': x5_flat, 
    'x6': x6_flat, 
    'x7': x7_flat, 
    'y': y_flat
})

In [38]:
df.head()

       x1      x2        x3        x4        x5        x6        x7  y
0   Mouse  Orange  0.670450  0.330777  0.433391  0.476752  0.559120  1
1  Mobile    Pink  0.593397  0.753943  0.796742  0.739442  0.817386  0
2   Mouse   Black  0.450039  0.121755  0.626250  0.426022  0.038697  1
3   Mouse   Black  0.118078  0.575930  0.036303  0.162461  0.739585  1
4  Mobile    Blue  0.573685  0.635397  0.030197  0.924211  0.521699  0

In [39]:
df.shape

(10000, 8)

#### a. Clean independent features

In [45]:
df.describe()

,x3,x4,x5,x6,x7,y
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,0.502861,0.502745,0.493921,0.502363,0.502747,0.50220
std,0.289715,0.288940,0.285844,0.287208,0.290456,0.50002
min,0.000082,0.000036,0.000092,0.000208,0.000136,0.00000
25%,0.251350,0.251677,0.247542,0.256339,0.249308,0.00000
50%,0.506181,0.504697,0.492360,0.501655,0.502791,1.00000
75%,0.754950,0.753434,0.737648,0.750338,0.755662,1.00000
max,0.999699,0.999938,0.999421,0.999979,0.999893,1.00000

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      10000 non-null  object
 1   x2      10000 non-null  object
 2   x3      10000 non-null  float64
 3   x4      10000 non-null  float64
 4   x5      10000 non-null  float64
 5   x6      10000 non-null  float64
 6   x7      10000 non-null  float64
 7   y       10000 non-null  int32
dtypes: float64(5), int32(1), object(2)
memory usage: 586.1+ KB

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
lb = LabelEncoder()

In [50]:
df['x1'] = lb.fit_transform(df['x1'])
df['x2'] = lb.fit_transform(df['x2'])

In [51]:
df.head()

   x1  x2        x3        x4        x5        x6        x7  y
0   4   3  0.670450  0.330777  0.433391  0.476752  0.559120  1
1   3   4  0.593397  0.753943  0.796742  0.739442  0.817386  0
2   4   0  0.450039  0.121755  0.626250  0.426022  0.038697  1
3   4   0  0.118078  0.575930  0.036303  0.162461  0.739585  1
4   3   1  0.573685  0.635397  0.030197  0.924211  0.521699  0

#### b. Add one more feature x8 having values between 0 and 1.

In [62]:
x8 = np.random.rand(1, 10000)
x8_flat = x8.flatten()

In [64]:
df['x8'] = x8_flat

In [65]:
df.head()

   x1  x2        x3        x4        x5        x6        x7  y        x8
0   4   3  0.670450  0.330777  0.433391  0.476752  0.559120  1  0.535795
1   3   4  0.593397  0.753943  0.796742  0.739442  0.817386  0  0.999198
2   4   0  0.450039  0.121755  0.626250  0.426022  0.038697  1  0.227313
3   4   0  0.118078  0.575930  0.036303  0.162461  0.739585  1  0.891442
4   3   1  0.573685  0.635397  0.030197  0.924211  0.521699  0  0.301696

#### c. Perform scaling

#### d. Train this dataset using Logistic regression, Decision Tree and Random Forest. Compare the performance of all the models based on accuracy and F1 score.

#### e. Draw confusion matrix of each model